<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.8423F777-AFDC-4769-A92C-4152A766CE7F</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>518</real>
		<key>savedFrame</key>
		<string>-1280 336 1280 744 -1280 280 1280 800 </string>
		<key>selectedTabView</key>
		<string>description</string>
	</dict>
</dict>
</plist>
